 /* used for setting layout */
.flex{
    justify-content: center;
    /* this works horizontally x- axis */
    align-items: center;
    /* this works vertically y- axis */

    flex-grow: 2;
    /* suppose i have 3 div if i give this to any of the div then its lenght will be grow 2 times as compare to other with screen size */

    
}

/* when we give flex to parent all the child will become display block */

 /* now if we'll give height and width style to inline element  then it will work */
/* 
<div className="flex">

<span style={height:"20px",width:"20px"}></span>

</div>
 */


 /* by default box-sizing is content-box */

 /* {
    box-sizing: border-box;
} */
